# NOTE: We're only including things that would already be checked in to the repo
# So we're not including things like .tox -- that will never be committed
# We're excluding docs and tests
tests
docs
recipes
.github
.circleci
.travis.yaml
.travis.yml
.appveyor.yaml
.appveyor.yml
.coverage
.codeclimate.yaml
.codeclimate.yml
.coveralls.yaml
.coveralls.yml
.dockerignore
.readthedocs.yaml
.readthedocs.yml
.git
.gitignore
azure-pipelines.yml
azure-pipelines.yaml
CONTRIBUTING.md
CHANGELOG.md
.editorconfig
.pre-commit-config.yaml
.pre-commit-config.yml
SECURITY.md
.scrutinizer.yml
.scrutinizer.yaml
codemeta.json
CITATION.cff
Vagrantfile
