# Also see https://github.com/github/gitignore/blob/master/Python.gitignore
# This is simpler and easier to understand
# We'll ignore all .* files and then re-add some

# General hidden or unwanted
.*
~*
*~
*#
Thumbs.db
*.bak
*.swp
tmp/
null
*.log
*.pid

# Archives
*.gz
*.xz
*.lzma
*.lz4
*.zstd
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.jar
*.war
*.nar
*.ear

# Executables and libraries
*.exe
*.msi
*.pkg
*.dll
*.so
*.dylib

# Files from other languages
*.o
*.ko
luac.out
hs_err_pid*
replay_pid*
gradle-app.setting
*.class
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# Python temp and build files
env/
venv/
ENV/
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*.egg-info
pip-wheel-metadata
share/python-wheels/
build/
dist/
eggs/
sdist/

# Documentation and coverage
docs/html/
docs/_build
cython_debug/
docs/autoapi
htmlcov
coverage.xml

# Translations
*.mo
*.pot

# IPython
profile_default/
ipython_config.py

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# Celery
celerybeat-schedule

# Keep these config files
!/.gitignore
!/.git/config
!/.prettierignore
!/.travis.yml
!/.travis.yaml
!/.circleci/config.yaml
!/.circleci/config.yml
!/.git-blame-ignore-revs
!/.github
!.gitattributes
!/.appveyor.yaml
!/.appveyor.yml
!/.flake8
!/.readthedocs.yaml
!/.readthedocs.yml
!/.dockerignore
!/.editorconfig
!/.pre-commit-config.yaml
!/.pre-commit-config.yml
!/.pre-commit-hooks.yaml
!/.pre-commit-hooks.yml
!.npmignore
!/.scrutinizer.yaml
!/.scrutinizer.yml
!**/.nojekyll
