minimum_pre_commit_version: 2.9.0

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      # this is useful but problematic
      # e.g. excluding recipes/*.yml, if they exist
      # - id: check-useless-excludes
  - repo: 'https://github.com/psf/black'
    rev: 20.8b1
    hooks:
      - id: black
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.4.0
    hooks:
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-toml
      - id: check-json
      - id: check-yaml
        exclude: ^recipes/.*
  - repo: 'https://github.com/Lucas-C/pre-commit-hooks-nodejs'
    rev: v1.1.1
    hooks:
      - id: dockerfile_lint
