[metadata]
description-file = "README.md"

[build-system]
requires = ["poetry>=1.0", "coverage[toml]"]
build-backend = "poetry.masonry.api"


#########################################################################################
# Tyrannosaurus
#########################################################################################

[tool.tyrannosaurus.options]
align = true

[tool.tyrannosaurus.sources]
status     = "'Development'"
date       = "${today}"
copyright  = "'Copyright ${today.year}'"
version    = "tool.poetry.version"
release    = "tool.poetry.version"
pyversions = "tool.poetry.python"
devdeps    = "tool.poetry.dev-dependencies"
linelength = "tool.black.line-length"

[tool.tyrannosaurus.targets]
tox          = true
docs         = true
license      = false
contributors = false


#########################################################################################
# Poetry metadata
#########################################################################################

[tool.poetry]
name = "tyrannosaurus"
version = "0.0.3"
description = "Generate ready-to-go Python projects."
include = [
    "README.md",
    "LICENSE.txt",
    "CHANGES.md",
    ".appveyor.yml",
    ".dockerignore",
    ".editorconfig",
    ".gitignore",
    ".pre-commit-config.yaml",
    ".travis.yml",
    "pyproject.toml",
    "readthedocs.yml",
    "tox.ini",
    "docs",
    "recipes",
    "tests"
]
authors = ["Douglas Myers-Turnbull"]
maintainers = ["Douglas Myers-Turnbull"]
license = "Apache-2.0"
readme = "README.md"
keywords = ["dependencies", "requirements", "install_requires", "extras_require"]
homepage = "https://github.com/dmyersturnbull/tyrannosaurus"
repository = "https://github.com/dmyersturnbull/tyrannosaurus"
documentation = "https://tyrannosaurus.readthedocs.io"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Natural Language :: English",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
	"Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Environment :: Console",
	"Framework :: tox",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Code Generators"
]

[tool.poetry.urls]
build = "https://travis-ci.org/dmyersturnbull/tyrannosaurus"
issues = "https://github.com/dmyersturnbull/tyrannosaurus/issues"
source = "https://github.com/dmyersturnbull/tyrannosaurus"


#########################################################################################
# Poetry build & dependencies
#########################################################################################

[tool.poetry.scripts]
tyrannosaurus = "tyrannosaurus.cli:cli"

[tool.poetry.dependencies]
python                   = "^3.7"
tomlkit                  = "^0.6.0"
importlib-metadata       = "^1.6"
typer                    = "^0.2.1"

[tool.poetry.dev-dependencies]
pre-commit               = "^2.3"
pytest                   = "^5.4"
coverage                 = {extras = ["toml"], version = "^5.1"}
pytest-cov               = "^2.8"
sphinx                   = "^3.0"
sphinx-autoapi           = "^1.3"
sphinx-rtd-theme         = "^0.4.3"
mypy                     = "^0.750"
pytype                   = {version = "^2020.1.8", python = "3.7"}
flake8                   = "^3.7"
flake8-docstrings        = "^1.5"
black                    = "=19.10b0"
isort                    = "^4.3"
docker                   = {optional = true, version = "^4.2"}

[tool.poetry.extras]
docs    = ["sphinx", "sphinx-rtd-theme", "sphinx-autoapi"]
dev     = [
        "pre-commit", "pytest", "coverage",
        "sphinx", "sphinx-autodoc-typehits", "autoapi",
        "mypy", "pytype",
        "flake8", "flake8-docstrings",
        "black", "isort"
]


#########################################################################################
# DepHell
#########################################################################################

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
versioning = "semver"

[tool.dephell.lock]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "poetrylock", path = "poetry.lock"}


#########################################################################################
# Style checking
#########################################################################################

[tool.coverage.paths]
source = ["tyrannosaurus"]

[tool.coverage.run]
source = ["tyrannosaurus"]

[tool.coverage.report]
show_missing = true

[tool.black]
line-length = 100
target-version = ["py36", "py37", "py38"]

[tool.isort]
line_length = 100
[mypy]
check_untyped_defs = true
strict_optional = true

[pycodestyle]
max-line-length = 100
statistics = true

[pydocstyle]
# 212 and 213 contradict; 203 and 204 contradict; D302 is not relevant in Py3
ignore = ["D203", "D212", "D302"]
