[metadata]
description-file = "README.md"

[build-system]
requires = ["poetry>=1.0", "coverage[toml]"]
build-backend = "poetry.masonry.api"


#########################################################################################
# Tyrannosaurus
#########################################################################################

[tool.tyrannosaurus.options]
align = true

[tool.tyrannosaurus.sources]
status     = "'Development'"
date       = "${today}"
copyright  = "'Copyright ${today.year}'"
version    = "tool.poetry.version"
release    = "tool.poetry.version"
pyversions = "tool.poetry.python"
devdeps    = "tool.poetry.dev-dependencies"
linelength = "tool.black.line-length"

[tool.tyrannosaurus.targets]
tox          = true
hooks        = false
license      = false
contributors = false


#########################################################################################
# Poetry metadata
#########################################################################################

[tool.poetry]
name = "tyrannosaurus"
version = "0.0.2"
description = "Generate ready-to-go Python projects."
include = ["README.md", "LICENSE.txt", "CHANGES.md"]
authors = ["Douglas Myers-Turnbull"]
maintainers = ["Douglas Myers-Turnbull"]
license = "Apache-2.0"
readme = "README.md"
keywords = ["dependencies", "requirements", "install_requires", "extras_require"]
homepage = "https://github.com/dmyersturnbull/tyrannosaurus"
repository = "https://github.com/dmyersturnbull/tyrannosaurus"
documentation = "https://tyrannosaurus.readthedocs.io"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Natural Language :: English",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Intended Audience : Developers",
    "Operating System :: OS Independent",
    "Environment :: Console",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Code Generators"
]

[tool.poetry.urls]
build = "https://travis-ci.org/dmyersturnbull/tyrannosaurus"
issues = "https://github.com/dmyersturnbull/tyrannosaurus/issues"
source = "https://github.com/dmyersturnbull/tyrannosaurus"


#########################################################################################
# Poetry build & dependencies
#########################################################################################

[tool.poetry.scripts]
tyrannosaurus = "tyrannosaurus.cli:cli"

[tool.poetry.dependencies]
python                   = "^3.7"
click                    = "^7.1"
toml                     = "^0.10"
importlib-metadata       = "^1.6"

[tool.poetry.dev-dependencies]
pre-commit               = "^2.3"
pytest                   = "^5.4"
coverage                 = {extras = ["toml"], version = "^5.1"}
pytest-cov               = "^2.8"
sphinx                   = "^3.0"
sphinx-autodoc-typehints = "^1.10"
autoapi                  = "^2.0"
mypy                     = "^0.750"
pytype                   = {version = "^2020.1.8", python = "3.7"}
flake8                   = "^3.7"
flake8-docstrings        = "^1.5"
black                    = "=19.10b0"
isort                    = "^4.3"
#poetry2conda            = "^0.1.0"
#pylint                  = "^2.5"
docker                   = {optional = true, version = "^4.2"}

[tool.poetry.extras]
dev     = [
        "pre-commit", "pytest", "coverage",
        "sphinx", "sphinx-autodoc-typehits", "autoapi",
        "mypy", "pytype",
        "flake8", "flake8-docstrings",
        "black", "isort"
]


#########################################################################################
# DepHell
#########################################################################################

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
versioning = "semver"

[tool.dephell.lock]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "poetrylock", path = "poetry.lock"}

[tool.poetry2conda]
# TODO conda-forge
name = "tyrannosaurus"

#########################################################################################
# Style checking
#########################################################################################

[tool.coverage.paths]
source = ["tyrannosaurus"]

[tool.coverage.run]
source = ["tyrannosaurus"]

[tool.coverage.report]
show_missing = true

[mypy]
check_untyped_defs = true
strict_optional = true

[tool.black]
line-length = 100
target-version = ["py36", "py37", "py38"]

[pycodestyle]
max-line-length = 100
statistics = true

[pydocstyle]
# 212 and 213 contradict; 203 and 204 contradict; D302 is not relevant in Py3
ignore = ["D203", "D212", "D302"]

[tool.isort]
line_length = 100
