# Build, test, and publish to releases, packages, PyPi, etc.
# Runs when creating a Github release
name: Publish on release creation
on:
  release:
    types:
      - published
  repository_dispatch:
    types:
      - release-made
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: read action options
        id: read_options
        run: |
          json=`cat .github/action-options.json`
          USE_SLACK=`echo $(jq -r '.use_slack' <<< "$json")`
          USE_GCR=`echo $(jq -r '.use_github_container_registry' <<< "$json")`
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install build meta-dependencies
        run: |
          pip install poetry tox
      - name: Test with tox
        run: |
          tox -v
      - name: Build sdists and wheels with Poetry
        run: |
          poetry build
          poetry install
      - name: Build the Docker image
        run: |
          docker build .
        if: steps.read_options.outputs.USE_GCR!='true'
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ${{ github.repository }}/${{ github.event.repository.name }}
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
        if: steps.read_options.outputs.USE_GCR=='true'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        if: steps.read_options.outputs.USE_GCR=='true'
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_CONTAINER_REGISTRY_TOKEN }}
        if: steps.read_options.outputs.USE_GCR=='true'
      - name: Builder the Docker Image and push to the GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
        if: steps.read_options.outputs.USE_GCR=='true'
      - name: Attach artifacts to the GitHub release
        uses: skx/github-action-publish-binaries@master
        with:
          args: "dist/*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to PyPi
        run: |
          poetry publish -vv --username __token__ --password ${{ secrets.PYPI_TOKEN }}
      - name: Send Slack notification
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,action,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        if: always() && steps.read_options.outputs.USE_SLACK=='true'
