# Build, test, and run static analyses, and send reports to external services
# Runs only on pushing to main
name: maintest
on:
  push:
    branches: [main, master]
jobs:
  test:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.10"]
    name: "test on ${{ matrix.os }}/py${{ matrix.python-version }}"
    runs-on: "${{ matrix.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install build meta-dependencies
        run: |
          pip install 'poetry>=1.2,<2' 'tox>=3,<4' 'wheel>=0.37,<1.0'
      - name: Test with tox
        run: |
          tox -v
      - name: Test Docker build
        if: ${{ ( runner.os == 'Linux' || runner.os == 'Windows' ) && matrix.python-version == '3.10' }}
        run: |
          docker build .
      - name: Update coveralls
        if: runner.os == 'Linux'
        run: |
          pip install 'coveralls>=3,<4'
          coveralls --service=github || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update codecov
        if: runner.os == 'Linux'
        run: |
          pip install 'codecov>=2.1,<3.0'
          codecov || true
