# Build, test, and run static analyses, and send reports to external services
# Runs only on pushing to main
name: Build & test
on:
  push:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 1
      matrix:
        python-version:
          - 3.9
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: read action options
        id: read_options
        run: |
          json=`cat .github/action-options.json`
          USE_SLACK=`echo $(jq -r '.use_slack' <<< "$json")`
      - name: 'Set up Python ${{ matrix.python-version }}'
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python-version }}'
      - name: Install build meta-dependencies
        run: |
          pip install poetry tox
      - name: Test with tox
        run: |
          tox -v
      - name: Build the Docker image
        run: |
          docker build .
      - name: Update coveralls/codecov
        run: |
          pip install coveralls codecov
          coveralls || true
          codecov || true
      - name: Send Slack notification
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,action,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        if: always() && steps.read_options.outputs.USE_SLACK
